/*css*/
#cor1{
	width: 800px;
	height: 150px;
	background-color: #ff4d4d;
}
#cor2{
	width: 800px;
	height: 150px;
	background-color: #ff66ff;
}
#cor3{
	width: 800px;
	height: 150px;
	background-color: #0099ff;
}
#cor4{
	width: 800px;
	height: 150px;
	background-color: #33ccff;
}
#cor5{
	width: 800px;
	height: 150px;
	background-color: #66ff66;
}
#cor6{
	width: 800px;
	height: 150px;
	background-color: #ffff66;
}