/*css*/

*{
	margin: 0px;
	padding: 0px;
	
}

header{
	width: 100%;
	height: 105px;
}



@font-face{
	font-family: "Be My Glittertine";
	src: url("Be My Glittertine.ttf");
}

@font-face{
	font-family: "aAngkatanBersenjata";
	src: url("aAngkatanBersenjata.ttf");
}

@font-face{
	font-family: "Lalisa Kiss";
	src: url("Lalisa Kiss - Personal Use.otf");
}
@font-face{
	font-family: "Gravity Well";
	src: url("Gravity Well DEMO.otf");
}

.container{
	width: 70%;
	margin: 0px auto;
}

.efeito{
	box-shadow: #101010 1px 1px 2px;
}

#logo{
	margin-top: -70px;
	width: 250px;
	float: left;
}

#nav_top{
	height: 32px;
	background-color: #ffccff;
}

#nav{
	height: 73px;
	background-color: #ffe6ff;
	box-shadow: #d0d0e1 1px 1px 4px;
}

#conteudo{
	
	padding: 50px 0px;
	background-image: url("imagens/bg1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: auto;
	height: 500px;
}

#carrosel{
	width: 300px;
	height: 200px;
	float: left;
}

.carousel-inner{
	width: 200%;
}

#sobre{
	float: right;
	padding: 30px;
}
#sobre h1{
	font-family: "Be My Glittertine";
	color: #ff0066;
	text-shadow: #000000 0px 0px 4px;
}


#jquerytest h1{
	font-family: "Be My Glittertine";
	color: #ffa600;
	padding: 10px 10px 10px 3px;
	text-shadow: #000000 0px 0px 4px;
}

#menu1{
	padding-left: 0px ;
}

#menino{
	font-family: "Be My Glittertine";
	font-size: 20px;
	color: #0064e6;
	background-color: #689ceb;
	width: 160px;
	padding: 20px;
	margin: 0px;
	border: 0px;
	text-shadow: 1px 1px 1px black;
}

#menina{
	font-family: "Be My Glittertine";
	font-size: 20px;
	color: #ff0066;
	background-color: #ffccff;
	width: 160px;
	padding: 20px;
	margin: 0px;
	border: 0px;
	text-shadow: 1px 1px 1px black;
}

#promo{
	font-family: "Be My Glittertine";
	font-size: 20px;
	color: #ffa600;
	background-color: #ffd280;
	width: 160px;
	padding: 20px;
	margin: 0px;
	border: 0px;
	text-shadow: 1px 1px 1px black;
}

#menino:hover{
	-webkit-transition: 0.6s;
	color: #8baaf7;
	background-color: #0064e6;
	text-shadow: 1px 1px 1px black;
}

#menina:hover{
	-webkit-transition: 0.6s;
	color: #ffccff;
	background-color: #ff0066;
	text-shadow: 1px 1px 1px black;
}

#promo:hover{
	-webkit-transition: 0.6s;
	color: #ffd280;
	background-color: #ffa600;
	text-shadow: 1px 1px 1px black;
}

#produtopromo{
	width: 100%;
	min-height: 1520px;
	background-color: #ffd280;
	box-shadow: #000000 2px 2px 2px;
	display: block;
	padding: 10px;
	
}
#produtomeninos{
	width: 100%;
	min-height: 1520px;

	box-shadow: #000000 2px 2px 2px;
	display: none;
	padding: 10px;
	
}
#produtomeninas{
	width: 100%;
	min-height: 1520px;
	background-color: red;
	box-shadow: #000000 2px 2px 2px;
	display: none;
	padding: 10px;
}

#blocoprodutos{
	min-height: 2000px;
}

#roupapromo{
	margin: 10px;
	padding: 20px;
	width: 300px;
	height: 480px;
	background-color: wheat;
	float: left;
	text-align: center;
	border-radius: 10px;
	
}

#roupapromo img{
	width:260px;
	height: 280px;
	border-radius: 10px;
	
}

#roupapromo h3{
	font-family: "Be My Glittertine";
	color: #313131;
	padding: 10px 10px 10px 3px;
	text-shadow: #000000 0px 0px 4px;
}

#roupapromo button{
	border-color: 1px;
}

#roupamenino{
	margin: 10px;
	padding: 20px;
	width: 300px;
	height: 480px;
	background-color: rgb(121, 187, 248);
	float: left;
	text-align: center;
	border-radius: 10px;
	
}

#roupamenino img{
	width:260px;
	height: 280px;
	border-radius: 10px;
	
}

#roupamenino h3{
	font-family: "Be My Glittertine";
	color: #313131;
	padding: 10px 10px 10px 3px;
	text-shadow: #000000 0px 0px 4px;
}

#roupamenino button{
	border-color: 1px;
}

#roupamenina{
	margin: 10px;
	padding: 20px;
	width: 300px;
	height: 480px;
	background-color: rgb(255, 227, 255);
	float: left;
	text-align: center;
	border-radius: 10px;
	
}

#roupamenina img{
	width:260px;
	height: 280px;
	border-radius: 10px;
	
}

#roupamenina h3{
	font-family: "Be My Glittertine";
	color: #313131;
	padding: 10px 10px 10px 3px;
	text-shadow: #000000 0px 0px 4px;
}

#roupamenina button{
	border-color: 1px;
}

#blocoprodutos img{
	transition: all 0.5s;
    cursor: pointer;
}
#blocoprodutos img:hover{
	-webkit-transform: scale(1.15);
    transform: scale(1.15);
	

}
#blocoprodutos h3{
	margin: 15px;
	font-size: 35px;
	font-family: "Gravity Well";
	color: white;
	text-shadow: BLACK 1px 1px 6px;
}
#blocoprodutos h5{
	margin-top: -25px;
	font-family: "aAngkatanBersenjata";
	font-weight: 800;
	color: green;
}

#nav_footer{
	background-color: #98d2d7;
	width: 100%;
	height: 200px;
}


@media screen and (max-width:1399px){
	#produtopromo{
		min-height: 2020px;
	}
	#produtomeninos{
		min-height: 2020px;
	}
	#produtomeninas{
		min-height: 2020px;
	}

	#sobre{
		margin-top: -190px;
		font-size: 15px;
	}

	#blocoprodutos{
		min-height: 2100px;
	}

}
@media screen and (max-width:1199px){
	#produtopromo{
		min-height: 1990px;
	}
	#produtomeninos{
		min-height: 1990px;
	}
	#produtomeninas{
		min-height: 1990px;
	}

	#blocoprodutos{
		min-height: 2050px;
	}

	#roupapromo{
		margin: 5px;
	}
	#roupamenino{
		margin: 5px;
	}
	#roupamenina{
		margin: 5px;
	}

	#conteudo{
		height: 900px;
	}
	#sobre{
		float: none;
		margin-top: 250px;
		margin-left: 240px;
	}
	#carrosel{
		margin-left: 350px;
		float: none;
	}
}
@media screen and (max-width:991px){
	#produtopromo{
		min-height: 3190px;
	}
	#produtomeninos{
		min-height: 3190px;
	}
	#produtomeninas{
		min-height: 3190px;
	}

	#blocoprodutos{
		min-height: 3300px;
	}

	#roupapromo{
		margin: 25px;
	}
	#roupamenino{
		margin: 25px;
	}
	#roupamenina{
		margin: 25px;
	}

	#promo{
		width: 102%;
	}

	#menino{
		width: 102%;
	}

	#menina{
		width: 102%;
	}

	#sobre {
		clear: both;
		float: none;
		padding: 20px 20px 20px 20px;
		
		margin-left: 150px;

	
		
	}
	#conteudo{
		height: 1000px;		
	}
	#jquerytest h1{
		text-align: center;
	}
	#carrosel{
		clear: both;
		margin-left: 200px;

	}
}
@media screen and (max-width:767px){
	#produtopromo{
		min-height: 6380px;
		padding-left: 100px;
	}
	#produtomeninos{
		min-height: 6380px;
		padding-left: 100px;
	}
	#produtomeninas{
		min-height: 6380px;
		padding-left: 100px;
	}

	#blocoprodutos{
		min-height: 6450px;
	}

	#roupapromo{
		margin: 25px;
	}
	#roupamenino{
		margin: 25px;
	}
	#roupamenina{
		margin: 25px;
	}

	#promo{
		width: 102%;
	}

	#menino{
		width: 102%;
	}

	#menina{
		width: 102%;
	}
	
	#carrosel {
		margin-left: 110px;
	}

	#conteudo{
		height: 1050px
	}

	#sobre{
		margin-left: 80px;
	}

}

#nav_footer{
	padding-top: 40px;
	font-size: 25px;
	font-weight: 900;
	color: white;
	text-decoration: none;
	text-transform: none;
	text-align: center;
	text-shadow: #000000 1px 1px 3px;
}
#nav_footer a{
	text-transform: none;
	text-decoration: none;
}




